<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>
</head>

<body>
    <div class="container">
        <table class="table table-dark">
            <thead class="text-center">
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Name</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let city of cities" class="text-center">
                    <td>{{city.id}}</td>
                    <td>{{city.name}}</td>
                    <td>
                        <button (click)="update(city)" class="btn btn-warning">Update</button>
                        &nbsp;
                        <button (click)="delete(city)" class="btn btn-danger">Delete</button>
                        &nbsp;
                        <button (click)="listStores(city)" class="btn btn-info">View Stores</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>